{% extends 'main.html' %}

{% block content %}

<div>
    <form method="POST" action="">
        <!--NB: its always done when you're sending a post request. This is to block some malicious input-->
        {% csrf_token %}

        {form.as_p}
        <input type="submit" value="Submit">

    </form>
</div>



<!-- THIS METHOD WILL LIST THE FORM ON A STRIAGHT LINE BUT THE ONE ABOUT WILL ARRANGE THE FORM NORMALLY. -->
<!-- <div>
    <form method="POST" action="">
        NB: its always done when you're sending a post request. This is to block some malicious input
        {% csrf_token %}

        {% for field in form %}
        {{field.label}}
        {{field}}
        {% endfor %}

        <input type="submit" value="Submit">

    </form>
</div> -->

{% endblock content%}